.directory
.dir*
*~
.*~
*bundle*
.*bundle*
*.netrwhist*
.*.netrwhist*
vim/.vim/bundle/*`
*bundle*
.*bundle*
tmux/.tmux/plugins/*
*plugins*
*pack*
.tmux/plugins
.tmux/plugins/*
nvim/coc/extensions
nvim/coc/extensions/*
latte/stardustv3.layout.latte

