map <space> <Leader>

set clipboard+=unnamedplus
nnoremap Y y$

nnoremap <c-j> :m .+1<CR>==
nnoremap <c-k> :m .-2<CR>==
vnoremap <c-j> :m '>+1<CR>gv=gv<CR>
vnoremap <c-k> :m '<-2<CR>gv=gv<CR>

nnoremap H 0
nnoremap L $

" hide search results with <leader>/
set hlsearch
noremap <leader>/ :nohls<CR><leader>/

set incsearch
set ignorecase
set smartcase

nnoremap gh :action MoveElementLeft<CR>
nnoremap gl :action MoveElementRight<CR>

xnoremap <leader>p p
xnoremap p "_dP
